<tr>
	<td class="contributors_images">
		<div class="top_row">
			<%= render partial: 'repositories/contributor' %>
			<%= render partial: 'repositories/contributor' %>
			<%= render partial: 'repositories/contributor' %>
			<%= render partial: 'repositories/contributor' %>
		</div>
		<div class="bottom_row">
			<%= render partial: 'repositories/contributor' %>
			<%= render partial: 'repositories/contributor' %>
			<%= render partial: 'repositories/contributor' %>
			<%= render partial: 'repositories/contributor' %>
		</div>
	</td>
	<td>
		<div class="top_row">
			<p class="full_path">http://localhost:3000/users/2</p>
		</div>
		<div class="bottom_row">
			<p class="file_name">users_controller.rb</p>
		</div>
	</td>
	<td>
		<div class="graph_container">
			<%= render partial: 'repositories/graph_interval' %>
			<%= render partial: 'repositories/graph_interval' %>
			<%= render partial: 'repositories/graph_interval' %>
			<%= render partial: 'repositories/graph_interval' %>
		</div>
	</td>
</tr>