<tr>
	<td><a href="http://github.com/<%= @username %>/<%= @repository %>/blob/master/<%= file_path %>"><%= file_path %></a></td>
	<td><%= commits %></td>
	<td><% contributors.each do |avatar| %>
	 <%= avatar.html_safe %>
	<% end %>
	</td>
	<td><%= insertions %></td>
	<td><%= deletions %></td>
</tr>