<tr>
	<td class="contributors_images">
		<div class="top_row">
			<% repository.contributors.each do |contributor| %>
			<%= render partial: 'repositories/contributor',locals: {contributor: contributor} %>
			<% end %>
		</div>
	</td>
	<td>
		<%= render partial: 'repositories/file_paths',locals: {repository: repository} %>
	</td>
	<td>
		<div class="graph_container">
			<%= render partial: 'repositories/graph_interval' %>
			<%= render partial: 'repositories/graph_interval' %>
			<%= render partial: 'repositories/graph_interval' %>
			<%= render partial: 'repositories/graph_interval' %>
		</div>
	</td>
	<td><%= repository.commits %></td>
	<td><%= repository.insertions %></td>
	<td><%= repository.deletions %></td>
</tr>






