<tr>
	<td><a href='http://github.com/<%= @username %>/<%= @repository %>/blob/master/<%= row[:file_path] %>'><%= row[:file_path] %></a></td>
	<td><%= row[:commits] %></td>
	<td><%= row[:contributers] %></td>
	 <%#= to_a.each.do |avatar| avatar.html_safe %>
	<%# end %>
	<td><%= row[:insertions] %></td>
	<td><%= row[:deletions] %></td>
</tr>
