<tr>
	<td><a href='http://github.com/<%= @username %>/<%= @repository %>/blob/master/<%= repository_file.name %>'><%= repository_file.name %></a></td>
	<td><%= repository_file.commits %></td>
	<td><%= repository_file.contributors %></td>
	 <%#= to_a.each.do |avatar| avatar.html_safe %>
	<%# end %>
	<td><%= repository_file.insertions %></td>
	<td><%= repository_file.deletions %></td>
</tr>
	<!-- <td><a href="http://github.com/<%#= @username %>/<%#= @repository %>/blob/master/<%#= file_path %>"><%#= file_path %></a></td>
	<td><%#= commits %></td>
	<td><%# contributors.each do |avatar| %>
	 <%#= avatar.html_safe %>
	<%# end %>
	</td>
	<td><%#= insertions %></td>
	<td><%#= deletions %></td>
</tr>
 -->
