<%= render partial: 'shared/sidebar' %>
<section class="row">
	<section class="col-md-3"></section>
	<h3 class="col-md-6 page_titles"><%= @user %>'s Repositories</h3>
	<section class="col-md-3"></section>
</section>
<section class="container-fluid">
	<table class="table table-bordered">

		<tr>
			<th>Repositories</th>
		</tr>

		<% @repositories.each do |repository| %>
			<tr>
				<td><a href="https://www.github.com/<%=@user%>/<%=repository["name"]%>"><%= repository["name"] %></a>
		    <a href="/code-review?username=<%=@user%>&repo=<%=repository['name']%>&uid=<%= repository['id'] %>" class="start-code-review-button"><button type="button" class="btn btn-primary">Start Code Review</button></a></td>
			</tr>
		<% end %>

	</table>
</section>
