<%= render partial: 'sidebar' %>
<section class="row">
	<section class="col-md-3"></section>
	<h3 class="col-md-6 page_titles"><%= @user %>'s Repositories</h3>
	<section class="col-md-3"></section>
</section>
<ul>
<% @repositories.each do |repository| %>
	<li>
		<a href="https://www.github.com/<%=@user%>/<%=repository["name"]%>"><%= repository["name"] %></a>
    <a href="/code-review?username=<%=@user%>&repo=<%=repository['name']%>" class="start-code-review-button">Start Code Review</a>
	</li><br><br>
<% end %>
<ul>
