<section class="row">
	<section class="col-md-3"></section>
	<h3 class="page_titles"><%= @repository.name %></h3>
</section>
<section class="col-md-3"></section>
</section>
</section> <!-- DO NOT REMOVE THIS CLOSING TAG -->

<div id="body">
	<div class="viewport">
		<div class="frame">
			<div id="menu" class="menu nav-collapse collapse width">
				<div id="side_bar_div" class="collapse-inner">
					<%#= render 'shared/sidebar' %>
				</div>
			</div>

			<div class="view">
		<!-- 		<button type="button" id="note_toggle_button" class="btn btn-primary btn-xs btn-navbar sidebar_toggle" data-toggle="collapse" data-target="#menu">
					Notes
					<i class="fa fa-bars"></i>
				</button> -->
				<div id="inner_nav_bar" class`="navbar navbar-inverse"></div>

				<div id="content">
					<section class="container-fluid">
						<table class="table table-bordered">
							<%= button_to "Destroy", @repository, :class => "btn btn-danger btn-xs delete_button", confirm: "Are you sure you'd like to delete this repository and all it's associated notes?", method: :delete %>
							<%= button_to "Update Repository", @repository, method: :patch, action: "update", class: "btn btn-warning btn-xs btn_navbar", locals: { repository: @repository } %>
							<table class="table table-bordered repo_table">
								<tr>
									<th>Contributors</th>
									<th>File Path</th>
									<th><%= sortable "commits", "Commits" %></th>
									<th><%= sortable "insertions", "Insertions" %></th>
									<th><%= sortable "deletions", "Deletions" %></th>
								</tr>
								<% @repository_order.each do |repository| %>
								<tr>
										<td>
										<% repository.contributors.each do |contributor| %>

										<img height="10px" width="10px" src="<%= contributor.gravatar_url %>">
										<% end %>
									</td>
									<td><a href="http://github.com/<%= @repository.repo_owner %>/<%= @repository.name %>/blob/master/<%= repository.name.slice(/^(.+)\//) %>"><%= repository.name.slice(/^(.+)\//) %></a><br>
										<div class="big-link">
										<a href="http://github.com/<%= @repository.repo_owner %>/<%= @repository.name %>/blob/master/<%= repository.name %>"><%=repository.name.split('/')[-1] %>
										</a>
									</div>
									</td>
									<td><%= repository.commits %></td>
									<td><%= repository.insertions %></td>
									<td><%= repository.deletions %></td>
								</tr>
								<% end %>
							</table>
						</section>
					</div>

				</div>
			</div>
		</div>
	</div>
