<section class="container-fluid inner_container">
	<section class="row my_code_review_row">
		<section class="col-md-5 col-sm-6 col-xs-12">
			<h3 id="my_code_reviews_header" class="page_titles">
				<i class="fa fa-folder-open"></i>
				@repository.name
			</h3>
		</section>
		<section class="col-md-5 col-sm-3 col-xs-0"></section>
		<section class="col-md-2 col-sm-3 col-xs-0"></section>
	</section>
</section>



	<section class="container-fluid">
		<table class="table table-bordered">
			<%= button_to "Destroy", @repository, :class => "btn btn-danger btn-xs delete_button", confirm: "Are you sure you'd like to delete this repository and all it's associated notes?", method: :delete %>
			<%= button_to "Update Repository", @repository, method: :patch, action: "update", class: "btn btn-warning btn-xs btn_navbar", locals: { repository: @repository }%>
			<table class="table table-bordered repo_table">
				<tr>
					<th>Contributors</th>
					<th>File Path</th>
					<th>Line Count</th>
					<th>Changes between <%=Time.at(@repository.last_commit).strftime("%m/%d/%Y at %I:%M %p")%></strong> to <strong><%= Time.at(@repository.first_commit).strftime("%m/%d/%Y at %I:%M %p") %></strong></th>
					<th><%= sortable "commits", "Commits" %></th>
				</tr>
				<% @repository_order.each do |repository| %>
				<tr>
					<%= render partial: 'repositories/file_row', locals: {repository: repository} %>
				</tr>
				<% end %>
			</table>
		</section>
	</div>
