<div class="note-box">

<%= form_for :note, :html => {id: "note-form"}, url: 'create_banana', method: :post do |f| %>

  <div>
    <%= f.label :content, "Notes" %>
    <%= f.text_area :content %>
  </div>

  <%= f.hidden_field :username, value: "#{@username}" %>

  <%= f.hidden_field :repository_name, value: "#{@repository}" %>

  <%= f.hidden_field :reviewer_id, value: "wow" %>

  <div>
    <%= f.submit "Add Note", id: "submit-note" %>
  </div>

<% end %>

</div>
