<div class="note-box">

<%= form_for :note, :html => {id: "note-form", role: "form"}, url: 'create_banana', method: :post do |f| %>

  <div class="form-group">
    <%= f.label :content, "Notes", :class => "text_area_label" %>
    <%= f.text_area :content, :class => "form-control" %>
  </div>

  <%= f.hidden_field :username, value: "#{@username}" %>
  <%= f.hidden_field :repository_name, value: "#{@repository}" %>
  <%= f.hidden_field :reviewer_id, value: "wow" %>

  <div class="form-group">
    <%= f.submit "Add Note", id: "submit-note", :class => "btn btn-default" %>
  </div>

<% end %>

</div>
