<!DOCTYPE html>
<html>
<head>
  <title>Hotspot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to "Home", root_path %>
		<%= link_to "All Repositories", repositories_path %>
		<% if session[:user_id] %>
		<li><%= link_to 'log out', logout_path %></li>
		<% else %>
		<li><%= link_to 'log in', '/auth/github/' %></li>
		<% end %>
	</header>

	<%= yield %>

</body>
</html>
