<!DOCTYPE html>
<html>
<head>
  <title>Hotspot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>

		<nav id="navigation_bar" class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<% if session[:user_id] %>
						<%= link_to content_tag(:i,nil, :class=>"fa fa-bar-chart logo"), user_path(User.find(session[:user_id])), :class => "navbar-brand" %>
						<%= link_to "hotspot", user_path(User.find(session[:user_id])), :class => "logo_text" %>
						<% else %>
						<%= link_to content_tag(:i,nil, :class=>"fa fa-bar-chart logo"), root_path, :class => "navbar-brand" %>
						<%= link_to "hotspot", root_path, :class => "logo_text" %>
						<% end %>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->



					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul id="login_logout" class="nav navbar-nav navbar-right">
							<% if current_user %>

								<li class="dropdown">
									<a href="#" id="profile_button" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
										<img class="img-circle profile_img" src="<%= current_user.avatar_url%>" width="20">
										<span class="caret"></span>
										<!-- <i class="fa fa-bars"></i> -->
									</a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="http://github.com/<%= current_user.github_username %>">Github Profile</a></li>
										<li><%= link_to "Dashboard", user_path(User.find(session[:user_id])) %></li>
										<li><a href="/sessions/destroy">Logout</a></li>
									</ul>
								</li>
							
						</ul>

						<form id="navigation_search" class="nav navbar-form" action="/search" role="search" method="get">
							<div class="input-group">
								<div class="input-group-addon"><a href="#"><i class="fa fa-github"></i></a></div>
								<input class="form-control" name="username" placeholder="Search Github">
							</div>
							<button id="navigation_search_button" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
						</form>

						<% else %>
							<a id="github_login" class="login_logout btn btn-default" href="/auth/github/">
								<i class="fa fa-github"></i>
								<span class="login_button">Github Login</span>
							</a>
						<% end %>

					</div>
				</div>
			</div>
		</nav>

	</header>
	<section class="container-fluid">

			<% if flash[:error] %>
				<%= flash[:error] %>
			<% end %>

			<%= yield %>

</section>

</body>
</html>
