<!DOCTYPE html>
<html>
<head>
  <title>Hotspot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<section class="container-fluid">
				<section class="row">
					<%#= link_to "All Repositories", repositories_path %>
					<ul class="nav navbar-nav col-md-3">
						<li><%= link_to "Home", root_path %></li>
						<% if session[:user_id] %>
						<li><%= link_to 'Logout', logout_path %></li>
						<% else %>
						<li><%= link_to 'Login', '/auth/github/' %></li>
						<% end %>
					</ul>
					<section class="col-md-6"></section>
					<section class="col-md-3">
						<form class="navbar-form navbar-right" action="/search" method="get">
							<input class="form-control" name="username" placeholder="search">
							<input class="form-control" type="submit" label="submit">
						</form>
					</section>
				</section>
			</section>
		</nav>
	</header>
	<section class="container-fluid">
		<section class="row">
			<section class="col-md-12">

	<%= yield %>

			</section>
	</section>
</section>

</body>
</html>
