<table class="table-bordered repo_table">
	<tr>
		<th id="contributors">Contributors</th>
		<th id="file_path">File Path / Name</th>
		<th id="change_over_time">Change Over Time</th>
	</tr>
	<%= render partial: 'repositories/file_row' %>
	<%= render partial: 'repositories/file_row' %>
	<%= render partial: 'repositories/file_row' %>
	<%= render partial: 'repositories/file_row' %>
	<%= render partial: 'repositories/file_row' %>
</table>



